body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}
p {
  margin: 0;
}
.container {
  max-width: 1376px;
}
.i_active {
  background-color: #f1f1f1;
}
.show {
  display: block;
}
.fade:not(.show) {
  display: none;
}
.list-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.i_wrapper {
  display: flex;
  flex-direction: column;
}

/* Header Container  */

.header {
  box-shadow: 0px 1px 1px 0px #0000001a;
}

.i_header {
  height: 64px;
  color: #505050;

  display: flex;
  align-items: center;
}

.i_header-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.i_header-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    color: #505050;
    text-decoration: none;
  }
}

.i_header-nav {
  background-color: #fafafa;

  border-top: 1px solid #d3d8de;
  border-bottom: 1px solid #d3d8de;
}

.i_left-nav {
  display: flex;
}

.i_nav_item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
}

.arrow {
  color: black;
}

/* Profile Container  */

.main {
  padding: 32px 0 0px;
  background-color: #f1f1f1;

  flex: 1 1 calc(100vh - 106.5px);
}

.i_profile {
  padding: 0;

  display: flex;
  justify-content: space-between;
}

.i_profile-content {
  display: flex;
  flex-direction: column;
  gap: 16px;

  padding: 56px 32px 32px;

  background-color: white;
}

.i_comment-by {
  color: #8f8f8f;
}

.i_profile-posts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.i_profile-post {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 18px 32px;
  background-color: white;
}

.i_navbar {
  max-width: 264px;
  margin-left: 32px;
}

.i_user {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.i_user-name {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  color: #505050;
}

.i_user-about {
  color: #8f8f8f;
}

.i_navigate-btn {
  background: none !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color) !important;

  padding: 10px 16px;

  font-weight: 500;
}

.i_navigate-body {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;

  border-bottom: 1px solid #d3d8de;
  li {
    button {
      display: flex;
      align-items: center;
      color: #505050;
      padding: 0;
      width: 100%;
      svg {
        margin-right: 10px;
      }
    }
  }
  li:hover {
    color: #0d6efd;
  }
}

.i_navigate-body-balance {
  font-size: 12px;
  color: #8f8f8f;
}

.i_navigate-body-title-item {
  margin-right: -5px;
}

/* Map Container  */

.i_map-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 32px;
}

.i_map-title {
  font-size: 16px;
  font-weight: 400;
  color: #505050;
}

.ya_map {
  font-family: arial;
  font-size: 12px;
  color: #454545;
}

#map {
  width: 100%;
  height: 400px;

  padding: 0 32px 32px;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid black;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Timer Container  */

.i_timer-btn {
  cursor: pointer;
}

.i_timer {
  padding: 0 32px 32px;
}

/* Media Requests  */

@media (width < 767.98px) {
  .i_navbar {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: #f1f1f1;
    transition: left 0.5s linear;
    margin-left: 0;
    height: 100vh;
    padding: 18px 18px 36px;
    overflow: scroll;
  }

  .active-user {
    left: 0;
  }
}
